body {
  font-family: 'roboto_light';
  color: #404040;
  font-size: 14px;
}
a {
  text-decoration: none;
}
.header-block {
  position: relative;
  height: 120px;
  padding-left: 220px;
  padding-right: 190px;
}
.header-block .logo {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  height: 120px;
  padding-top: 35px;
}
.table-block {
  width: 100%;
  height: 100%;
  display: table;
}
.block-vertical {
  display: table-cell;
  vertical-align: middle;
}
.profit-container {
  text-align: center;
  height: 120px;
}
.profit-block {
  position: relative;
  padding-left: 65px;
  height: 48px;
  font-size: 18px;
  color: #868686;
  display: inline-block;
  vertical-align: middle;
}
.profit-block a {
  color: #868686;
}
.profit-block:first-child {
  width: 200px;
}
.profit-block:nth-child(2) {
  width: 230px;
}
.profit-block:last-child {
  width: 185px;
}
.profit-block .profit-img {
  position: absolute;
  left: 0;
  top: 0;
}
.profit-block .profit-text {
  height: 48px;
  text-align: left;
  line-height: 1.1;
}
.basket-block {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  height: 120px;
}
.basket-link {
  width: 190px;
  display: block;
  height: 60px;
  background: #ff4c36 url(../images/basket-icon.png) no-repeat 18px;
  padding-left: 70px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  -webkit-box-shadow: 0px 3px 0px 0px #d73f2d;
  box-shadow: 0px 3px 0px 0px #d73f2d;
  text-decoration: none;
  color: #fff;
}
.basket-link .title {
  text-transform: uppercase;
  font-family: 'roboto_black';
  font-size: 16px;
  margin-bottom: 2px;
}
.basket-link p {
  font-size: 14px;
}
.nav {
  height: 70px;
  background: url(../images/nav-img.jpg) repeat-x;
}
.menu {
  float: left;
  width: 65%;
}
.menu li {
  float: left;
  width: 20%;
}
.menu a {
  display: block;
  width: 100%;
  height: 70px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-family: 'roboto_medium';
  text-decoration: none;
}
.menu a.active,
.menu a:hover {
  background: url(../images/nav-active.jpg) repeat-x;
}
.search-block {
  float: left;
  width: 35%;
  position: relative;
  height: 70px;
  padding-left: 20px;
}
.search-block input[type="text"] {
  display: block;
  width: 100%;
  height: 40px;
  background: transparent;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding-left: 20px;
  color: #fff;
  font-size: 14px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.search-block .s-search {
  display: block;
  outline: 0;
  border: 0;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  width: 16px;
  height: 16px;
  background: url(../images/search.png) no-repeat;
  top: 50%;
  margin-top: -8px;
  right: 20px;
}
.main-slider {
  height: 420px;
  background: url(../images/slider.jpg) no-repeat 50%;
  -o-background-size: cover;
  background-size: cover;
}
.slider-block {
  position: relative;
  padding-right: 530px;
}
.slider-block .more {
  display: block;
  width: 160px;
  height: 40px;
  text-align: center;
  color: #fff;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 14px;
  background: #ff4c36;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.slider-block .more:hover {
  background: #ff1f03;
}
.slider-block .slide-img {
  position: absolute;
  z-index: 2;
  right: 0;
  overflow: hidden;
  width: 450px;
  top: -50px;
}
.partners-carousel .owl-carousel {
  padding: 30px 70px;
}
.owl-carousel .owl-nav .owl-prev {
  text-indent: -99999px;
  width: 19px;
  height: 32px;
  background: url(../images/partner-prev.png) no-repeat;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 50%;
  margin-top: -16px;
}
.owl-carousel .owl-nav .owl-next {
  text-indent: -99999px;
  width: 19px;
  height: 32px;
  background: url(../images/partner-next.png) no-repeat;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 50%;
  margin-top: -16px;
}
.carousel-control {
  display: block;
  width: 28px;
  height: 48px;
  position: absolute;
  z-index: 3;
  top: 50%;
  margin-top: -22px;
}
.carousel-control.left {
  background: url(../images/prev.png) no-repeat;
  left: 0;
}
.carousel-control.right {
  right: 0;
  background: url(../images/next.png) no-repeat;
}
.carousel-caption {
  position: relative;
  z-index: 3;
}
.carousel-caption .title {
  font-size: 28px;
  text-transform: uppercase;
  color: #355d7f;
  font-family: 'roboto_black';
}
.carousel-caption .title p {
  font-size: 48px;
}
.carousel-desc {
  font-size: 14px;
  color: #404040;
  line-height: 1.5;
  height: 135px;
}
.product-container {
  position: relative;
  padding-right: 365px;
}
.popular-product {
  padding-top: 60px;
}
.product-items {
  margin-left: -15px;
  padding-top: 55px;
  padding-bottom: 55px;
}
.product-item-block {
  padding-left: 15px;
  padding-bottom: 20px;
}
.product-item-block .inner-item {
  border: 1px solid #e6e6e6;
  padding-right: 15px;
  padding-left: 15px;
  height: 390px;
  -webkit-transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: -webkit-box-shadow 0.15s ease-in-out;
  -moz-transition: box-shadow 0.15s ease-in-out;
  -o-transition: box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.product-item-block .inner-item:hover {
  -webkit-box-shadow: 0px 0px 0px 2px #ddd;
  box-shadow: 0px 0px 0px 2px #ddd;
  border-color: #ddd;
}
.product-item-block .product-img {
  height: 175px;
  text-align: center;
}
.product-item-block .product-img img {
  max-width: 100%;
  height: auto;
}
.product-item-block .product-name {
  font-size: 16px;
  font-family: 'roboto_medium';
  height: 35px;
}
.product-item-block .product-name a {
  color: #355d7f;
}
.product-item-block .product-name a:hover {
  text-decoration: underline;
}
.product-item-block .mobile-link {
  font-size: 12px;
  color: #355d7f;
  font-family: 'roboto_black';
  border-bottom: 1px solid #a1afbd;
}
.product-item-block .list {
  height: 100px;
}
.product-item-block .list li {
  margin-bottom: 7px;
}
.product-item-block .list li:last-child {
  margin-bottom: 0;
}
.product-item-block .list a {
  color: #404040;
  border-bottom: 1px solid transparent;
  display: inline-block;
}
.product-item-block .list a:hover {
  border-bottom-color: #404040;
}
.product-item-block .catalog-link {
  display: block;
  width: 170px;
  height: 45px;
  line-height: 48px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  background-color: #ff4c36;
  margin: auto;
  font-size: 12px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 0px 0px #d73f2d;
  box-shadow: 0px 3px 0px 0px #d73f2d;
}
.product-item-block .catalog-link:hover {
  background-color: #ff351c;
}
.read-more {
  position: relative;
}
.read-more.active span:last-child {
  display: block;
}
.read-more.active span:first-child {
  display: none;
}
.read-more span:last-child {
  display: none;
}
.read-more span:first-child {
  display: block;
}
.read-more:before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  height: 20px;
  background: rgba(240, 240, 240, 0.6);
  top: -20px;
}
.read-more a {
  display: block;
  width: 120px;
  height: 30px;
  text-align: center;
  color: #fff;
  line-height: 30px;
  margin: auto;
  background: #ff4c36;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}
.read-more .line {
  width: 100%;
  position: absolute;
  height: 1px;
  background: #ff4c36;
  z-index: 1;
  left: 0;
  top: 50%;
  margin-top: -0.5px;
}
.banner {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
}
.header-title {
  padding-left: 20px;
  position: relative;
}
.header-title:before {
  content: "";
  display: block;
  position: absolute;
  height: 50px;
  width: 5px;
  background: #ff4c36;
  left: 0;
  top: 0;
}
.header-title p {
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'roboto_black';
  margin-bottom: 7px;
}
.text-container {
  background: #f0f0f0;
  padding: 50px 0;
}
.text-container .header-title {
  margin-bottom: 50px;
}
.text-container .text-item {
  position: relative;
  line-height: 1.6;
  overflow: hidden;
  height: 88px;
}
.text-container .text-item.open {
  height: auto;
  padding-bottom: 5px;
}
.text-container .text-item p {
  margin-bottom: 10px;
}
.partner-block {
  height: 100px;
  text-align: center;
}
.partner-block img {
  max-width: 100%;
  height: auto;
}
.customNavigation a {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  z-index: 2;
}
.customNavigation a.prev {
  left: 0;
}
.customNavigation a.next {
  right: 0;
}
.footer {
  padding-top: 60px;
  padding-bottom: 50px;
  border-top: 1px solid #ddd;
}
.support {
  float: left;
  width: 265px;
}
.support .title {
  font-family: 'roboto_medium';
  font-size: 16px;
}
.support .number {
  font-family: 'roboto_black';
  font-size: 30px;
  color: #355d7f;
  margin: 8px 0;
}
.support .number span {
  color: #ff4c36;
}
.support a {
  color: #355d7f;
  text-decoration: underline;
}
.foot-list {
  float: left;
  padding-left: 160px;
}
.foot-list ul {
  float: left;
}
.foot-list ul:last-child {
  margin-left: 55px;
}
.foot-list ul a {
  color: #355d7f;
  text-decoration: underline;
}
.foot-list ul li {
  margin-bottom: 10px;
}
.copyright {
  float: right;
  line-height: 1.4;
}
.banner {
  width: 301px;
}
.banner img {
  max-width: 100%;
  height: auto;
}
.mobile-btn {
  float: left;
  height: 45px;
  margin-left: 20px;
  padding-top: 4px;
}
.mobile-button {
  float: right;
}
.mobile-slider {
  height: 160px;
  background: url(../images/mobile-slider.jpg) no-repeat 50%;
  -o-background-size: cover;
  background-size: cover;
  padding: 0 20px;
  padding-right: 160px;
  position: relative;
  overflow: hidden;
}
.mobile-slider-desc {
  padding-top: 40px;
  color: #355d7f;
  font-family: 'roboto_black';
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}
.mobile-slider-desc h4 {
  font-size: 18px;
  margin-bottom: 20px;
}
.mobile-slider-desc p {
  font-size: 14px;
}
.mobile-slide-img {
  position: absolute;
  right: -100px;
  top: 5px;
  width: 300px;
}
.mobile-slide-img img {
  max-width: 100%;
  height: auto;
}
.mobile-banner {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}
.mobile-banner img {
  max-width: 100%;
  height: auto;
}
.mobile-footer-block {
  padding-left: 20px;
  padding-right: 20px;
}
.mobile-foot-list {
  font-size: 12px;
  float: left;
  width: 105px;
}
.mobile-foot-list li {
  margin-bottom: 10px;
}
.mobile-foot-list a {
  color: #355d7f;
  text-decoration: underline;
}
.foot-right-block {
  text-align: right;
  float: right;
  width: 155px;
}
.main-content {
  padding-top: 40px;
  padding-bottom: 80px;
}
.sidebar {
  float: left;
  width: 300px;
}
.side-menu {
  background: #f0f0f0;
  padding: 35px;
}
.side-menu > ul {
  font-family: 'roboto_medium';
}
.side-menu > ul > li {
  margin-bottom: 30px;
  position: relative;
}
.side-menu > ul > li.width-drop .child-list {
  display: none;
}
.side-menu > ul > li.width-drop:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  width: 10px;
  height: 16px;
  background: url(../images/arrow.png) no-repeat;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out, -moz-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out, -o-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -moz-transform 0.2s ease-in-out, -o-transform 0.2s ease-in-out;
}
.side-menu > ul > li.width-drop.active:after {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.side-menu > ul > li:last-child {
  margin-bottom: 0;
}
.side-menu > ul > li > a {
  font-size: 18px;
  color: #355d7f;
}
.side-menu > ul > li > ul {
  padding-left: 20px;
}
.side-menu > ul > li > ul > li {
  margin-bottom: 20px;
}
.side-menu > ul > li > ul > li:last-child {
  margin-bottom: 0;
}
.side-menu > ul > li > ul > li:first-child {
  margin-top: 20px;
}
.side-menu > ul > li > ul > li > a {
  color: #404040;
  font-size: 16px;
}
.side-menu > ul > li > ul > li > a:hover,
.side-menu > ul > li > ul > li > a.active {
  color: #ff4c36;
}
.get-cons {
  margin: 30px 0;
}
.get-cons a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  height: 55px;
  line-height: 55px;
  color: #fff;
  font-family: 'roboto_black';
  font-size: 16px;
  background: #ff4c36;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 0px 0px #d73f2d;
  box-shadow: 0px 3px 0px 0px #d73f2d;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.get-cons a:hover {
  background: #ff1f03;
}
.center-content {
  float: left;
  width: 900px;
  padding-left: 50px;
}
.breadcrumb {
  font-size: 12px;
  color: #868686;
  margin-bottom: 25px;
}
.breadcrumb li {
  float: left;
}
.breadcrumb span {
  color: #404040;
  padding: 0 3px;
}
.breadcrumb a {
  color: #404040;
  text-decoration: underline;
}
.news-block {
  position: relative;
  padding-left: 260px;
  min-height: 165px;
  margin-bottom: 55px;
}
.news-block .date {
  font-size: 12px;
  color: #ff4c36;
  margin-bottom: 15px;
}
.news-block .name {
  font-size: 16px;
  font-family: 'roboto_medium';
  margin-bottom: 12px;
}
.news-block .name a {
  color: #355d7f;
}
.news-block .name a:hover {
  text-decoration: underline;
}
.news-block p {
  font-size: 14px;
  color: #404040;
  line-height: 1.5;
  height: 66px;
  overflow: hidden;
  white-space: pre-wrap;
  -o-text-overflow: ellips;
  text-overflow: ellips;
  margin-bottom: 12px;
}
.news-block .more {
  display: block;
  width: 140px;
  height: 35px;
  text-align: center;
  text-transform: uppercase;
  line-height: 33px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 12px;
  color: #ff4c36;
  border: 1px solid #ff4c36;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.news-block .more:hover {
  background: #ff4c36;
  color: #fff;
}
.news-img {
  position: absolute;
  z-index: 2;
  width: 240px;
  height: 165px;
  background-repeat: no-repeat;
  background-position: 50%;
  -o-background-size: cover;
  background-size: cover;
  left: 0;
  top: 0;
}
.news-img img {
  max-width: 100%;
  height: auto;
}
.news-container .header-title {
  margin-bottom: 35px;
}
.pagination {
  text-align: center;
}
.pagination .prev {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  margin-right: 8px;
  position: relative;
  top: 2px;
}
.pagination .next {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  margin-right: 8px;
  position: relative;
  top: 2px;
}
.pagination > ul {
  display: inline-block;
  vertical-align: middle;
}
.pagination > ul > li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  margin-right: 8px;
}
.pagination > ul > li > a {
  color: #404040;
  font-size: 16px;
  font-family: 'roboto_black';
  display: block;
  width: 31px;
  height: 31px;
  text-align: center;
  line-height: 31px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.pagination > ul > li > a:hover {
  background: #355d7f;
  color: #fff;
}
.pagination > ul > li > a.active {
  background: #f0f0f0 !important;
  color: #404040 !important;
  cursor: default;
}
.aside-banner img {
  max-width: 100%;
  height: auto;
}
.detail-news p {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.5;
}
.detail-img {
  margin-bottom: 25px;
}
.detail-img img {
  max-width: 100%;
  height: auto;
}
.contacts .title {
  text-align: center;
  text-transform: uppercase;
  font-family: 'roboto_black';
  font-size: 30px;
}
.contacts-info {
  text-align: center;
}
.contacts-block {
  display: inline-block;
  text-align: left;
  height: 145px;
  border-right: 1px solid #e6e6e6;
  padding: 0 65px;
}
.contacts-block:last-child {
  border-right: 0;
}
.contacts-block h4 {
  color: #355d7f;
  font-size: 18px;
  font-family: 'roboto_medium';
  margin-bottom: 15px;
}
.contacts-block li {
  margin-bottom: 10px;
}
.contacts-info {
  margin: 35px 0;
}
.contacts-link {
  text-align: center;
  margin-bottom: 40px;
}
.contacts-link a {
  display: inline-block;
  width: 260px;
  height: 55px;
  line-height: 57px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  margin: 0 10px;
  -webkit-transition: background 0.15s ease-in-out;
  -moz-transition: background 0.15s ease-in-out;
  -o-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.contacts-link .get-cons-link {
  background: #ff4c36;
  -webkit-box-shadow: 0px 3px 0px 0px #d73f2d;
  box-shadow: 0px 3px 0px 0px #d73f2d;
}
.contacts-link .get-cons-link:hover {
  background: #ff1f03;
}
.contacts-link .card-links {
  background: #355d7f;
  -webkit-box-shadow: 0px 3px 0px 0px #213a4f;
  box-shadow: 0px 3px 0px 0px #213a4f;
}
.contacts-link .card-links:hover {
  background: #26435b;
}
.contacts {
  padding-top: 10px;
}
.map {
  padding-bottom: 80px;
  margin: auto;
}
.contact-content {
  padding-bottom: 0 !important;
}
.catalog-img {
  height: 195px;
  text-align: center;
}
.catalog-img img {
  max-width: 100%;
  height: auto;
}
.catalog-container {
  margin-left: -25px;
  margin-bottom: 30px;
}
.catalog-block {
  padding-left: 25px;
  padding-bottom: 25px;
}
.catalog-block .catalog-item {
  border: 1px solid #e6e6e6;
  padding: 20px;
  -webkit-transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: -webkit-box-shadow 0.15s ease-in-out;
  -moz-transition: box-shadow 0.15s ease-in-out;
  -o-transition: box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.catalog-block .catalog-item:hover {
  -webkit-box-shadow: 0px 0px 0px 2px #ddd;
  box-shadow: 0px 0px 0px 2px #ddd;
  border-color: #ddd;
}
.catalog-block .name {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}
.catalog-block .name a {
  color: #355d7f;
}
.catalog-block .name a:hover {
  text-decoration: underline;
}
.catalog-block .price {
  margin-bottom: 15px;
  position: relative;
}
.catalog-block .last-price {
  float: left;
  font-size: 18px;
  color: #868686;
  text-decoration: line-through;
  font-family: 'roboto_medium';
  padding-top: 10px;
}
.catalog-block .today-price {
  float: right;
  font-size: 30px;
  font-family: 'roboto_medium';
}
.catalog-block .today-price span {
  font-size: 18px;
}
.catalog-block .add-basket {
  display: block;
  width: 180px;
  height: 35px;
  line-height: 37px;
  float: left;
  text-align: center;
  text-transform: uppercase;
  background: #ff4c36;
  color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  -webkit-box-shadow: 0px 2px 0px 0px #d73f2d;
  box-shadow: 0px 2px 0px 0px #d73f2d;
  -webkit-transition: background 0.15s ease-in-out;
  -moz-transition: background 0.15s ease-in-out;
  -o-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.catalog-block .add-basket:hover {
  background: #ff1f03;
}
.catalog-block .fast-link {
  display: block;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #355d7f url(../images/file.png) no-repeat 50%;
  float: right;
  -webkit-box-shadow: 0px 2px 0px 0px #1d3346;
  box-shadow: 0px 2px 0px 0px #1d3346;
  -webkit-transition: background 0.15s ease-in-out;
  -moz-transition: background 0.15s ease-in-out;
  -o-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.catalog-block .fast-link:hover {
  background-color: #26435b;
}
.card-block {
  float: left;
  width: 390px;
}
.card-info {
  float: left;
  width: 460px;
  padding-left: 30px;
}
.card-desc {
  font-size: 12px;
  line-height: 1.5;
  padding-bottom: 15px;
}
.characteristics {
  padding: 20px 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.characteristics .title {
  font-size: 16px;
  color: #355d7f;
  margin-bottom: 25px;
}
.characteristics table td {
  padding-bottom: 10px;
  font-size: 14px;
}
.characteristics table td:first-child {
  padding-right: 35px;
  color: #868686;
}
.price-product {
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
}
.price-product .title {
  font-size: 16px;
  color: #355d7f;
  margin-bottom: 10px;
}
.price-product .left-block {
  float: left;
}
.price-product .right-block {
  float: right;
}
.price-product .last-price {
  text-decoration: line-through;
  color: #868686;
  font-size: 18px;
  font-family: 'roboto_medium';
  float: left;
  padding-top: 10px;
  padding-right: 15px;
}
.price-product .today-price {
  font-size: 30px;
  font-family: 'RobotoRegular';
  float: left;
}
.amount a {
  width: 14px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}
.amount a.left {
  background: url(../images/left.png) no-repeat;
}
.amount a.left:hover {
  background: url(../images/left-hover.png) no-repeat;
}
.amount a.right {
  background: url(../images/right.png) no-repeat;
}
.amount a.right:hover {
  background: url(../images/right-hover.png) no-repeat;
}
.amount input[type="text"] {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  outline: 0;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  color: #868686;
  font-family: 'roboto_black';
  margin: 0 15px;
}
.card-link {
  padding-top: 20px;
}
.card-link a {
  display: block;
  width: 48.5%;
  height: 50px;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'roboto_black';
  color: #fff;
  -webkit-transition: background 0.15s ease-in-out;
  -moz-transition: background 0.15s ease-in-out;
  -o-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.card-link .add-basket {
  background: #ff4c36;
  float: left;
  -webkit-box-shadow: 0px 3px 0px 0px #d73f2d;
  box-shadow: 0px 3px 0px 0px #d73f2d;
}
.card-link .add-basket:hover {
  background: #ff1f03;
}
.card-link .one-click {
  background: #355d7f;
  float: right;
  -webkit-box-shadow: 0px 3px 0px 0px #1d3346;
  box-shadow: 0px 3px 0px 0px #1d3346;
}
.card-link .one-click:hover {
  background: #26435b;
}
.item-desc {
  margin-bottom: 80px;
}
.item-desc .title {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'roboto_black';
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
}
.item-desc p {
  margin-top: 20px;
  line-height: 1.5;
}
.product-block {
  margin-bottom: 60px;
}
.recommended > .title {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'roboto_black';
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
}
.recom-item {
  border: 1px solid #e7e7e7;
  padding: 0 10px 15px 10px;
}
.recom-item .recom-img {
  height: 185px;
  text-align: center;
}
.recom-item .recom-img img {
  max-width: 100%;
  height: auto;
}
.recom-item .price {
  margin-bottom: 15px;
  position: relative;
}
.recom-item .name {
  text-align: center;
  font-size: 18px;
  height: 40px;
}
.recom-item .name a {
  color: #355d7f;
}
.recom-item .name a:hover {
  text-decoration: underline;
}
.recom-item .last-price {
  color: #868686;
  font-size: 16px;
  font-family: 'roboto_medium';
  text-decoration: line-through;
  float: left;
  padding-top: 5px;
}
.recom-item .today-price {
  float: right;
  font-size: 22px;
  font-family: 'roboto_medium';
}
.recom-item .add-basket {
  display: block;
  width: 170px;
  height: 35px;
  line-height: 37px;
  float: left;
  text-align: center;
  text-transform: uppercase;
  background: #ff4c36;
  color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  -webkit-box-shadow: 0px 2px 0px 0px #d73f2d;
  box-shadow: 0px 2px 0px 0px #d73f2d;
  -webkit-transition: background 0.15s ease-in-out;
  -moz-transition: background 0.15s ease-in-out;
  -o-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.recom-item .add-basket:hover {
  background: #ff1f03;
}
.recom-item .fast-link {
  display: block;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #355d7f url(../images/file.png) no-repeat 50%;
  float: right;
  -webkit-box-shadow: 0px 2px 0px 0px #1d3346;
  box-shadow: 0px 2px 0px 0px #1d3346;
  -webkit-transition: background 0.15s ease-in-out;
  -moz-transition: background 0.15s ease-in-out;
  -o-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.recom-item .fast-link:hover {
  background-color: #26435b;
}
.recommended-carousel {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}
.recommended-carousel .item {
  padding-right: 20px;
  padding-left: 2px;
}
.recommended-carousel .owl-prev {
  display: none;
}
.recommended-carousel .owl-carousel {
  padding-right: 95px;
}
.recommended-carousel .owl-carousel .owl-nav .owl-next {
  display: block;
  width: 28px;
  height: 48px;
  background: url(../images/next.png) no-repeat;
  position: absolute;
  z-index: 2;
  right: 40px;
  top: 50%;
  margin-top: -24px;
}
.thumbnail {
  float: left;
  width: 115px;
}
.thumbnail img {
  width: 81px;
  height: 53px;
}
.large-img {
  float: right;
  width: 275px;
  height: 270px;
  text-align: center;
}
.large-img img {
  max-width: 100%;
  height: auto;
}
.carousel-block {
  margin-bottom: 45px;
}
.carousel-block:last-child {
  margin-bottom: 0;
}
.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal .title {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-family: 'roboto_black';
  margin-bottom: 20px;
}
.modal .small-title {
  font-size: 18px;
  font-family: 'roboto_medium';
  text-align: center;
  margin-bottom: 30px;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out, -moz-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out, -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out, -moz-transform 0.3s ease-out, -o-transform 0.3s ease-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  -moz-transform: translate(0, -25%);
  transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: 665px;
  margin: 50px auto;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -o-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #404040;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  padding: 15px;
}
.modal-header .close {
  background: none;
  outline: 0;
  border: 0;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 25px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
.input-block {
  margin-bottom: 20px;
}
.input-block input[type="text"] {
  width: 100%;
  height: 50px;
  display: block;
  outline: 0;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
  font-family: 'roboto_light';
}
.input-block input[type="submit"] {
  width: 100%;
  height: 65px;
  display: block;
  outline: 0;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  font-family: 'roboto_black';
  text-transform: uppercase;
  background: #ff4c36;
  border: 0;
  -webkit-box-shadow: 0px 3px 0px 0px #d73f2d;
  box-shadow: 0px 3px 0px 0px #d73f2d;
}
.mobile-amount a {
  display: block;
  float: left;
  width: 22px;
  height: 30px;
  text-align: center;
  font-family: 'roboto_black';
  font-size: 14px;
  color: #868686;
  line-height: 28px;
  border: 1px solid #ddd;
}
.mobile-amount .left {
  border-right: 0;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.mobile-amount .right {
  border-left: 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.mobile-amount input[type="text"] {
  width: 30px;
  height: 30px;
  display: block;
  text-align: center;
  outline: 0;
  font-size: 14px;
  font-family: 'roboto_black';
  color: #ff4c36;
  border: 1px solid #ddd;
  float: left;
}
.cart-block {
  float: left;
  width: 860px;
}
.cart-block .title {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'roboto_black';
  margin-bottom: 35px;
}
.card-table table {
  width: 100%;
}
.card-table thead {
  font-size: 14px;
  color: #868686;
}
.card-table thead td {
  padding-bottom: 5px;
  padding-top: 5px;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}
.card-table thead td:nth-child(3) {
  padding-left: 12px;
}
.card-table thead td:nth-child(4) {
  padding-left: 20px;
}
.card-table thead td:nth-child(5) {
  padding-left: 25px;
}
.card-table tbody td {
  vertical-align: middle;
  height: 90px;
  border-bottom: 1px solid #ddd;
}
.card-table tbody td:first-child {
  width: 40px;
}
.card-table tbody td:nth-child(2) {
  width: 310px;
}
.card-table tbody td:nth-child(3) {
  width: 150px;
}
.card-table tbody td:nth-child(4) {
  width: 130px;
}
.card-table tbody td:nth-child(5) {
  width: 140px;
}
.card-table .cart-img {
  display: inline-block;
  vertical-align: middle;
}
.card-table .del {
  display: inline-block;
  padding: 0 10px;
}
.card-table .number {
  font-size: 16px;
}
.card-table .name {
  font-size: 16px;
  font-family: 'roboto_medium';
  padding-left: 10px;
}
.card-table .price {
  font-size: 24px;
  font-family: 'RobotoRegular';
}
.card-table .price span {
  font-size: 16px;
  font-family: 'roboto_medium';
}
.cart-amount a {
  display: block;
  float: left;
  width: 30px;
  height: 40px;
  line-height: 38px;
  border: 1px solid #ddd;
  text-align: center;
  color: #868686;
  font-size: 30px;
}
.cart-amount .left {
  border-right: 0;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.cart-amount .right {
  border-left: 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.cart-amount input[type="text"] {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  text-align: center;
  outline: 0;
  float: left;
  color: #ff4c36;
  font-size: 16px;
  font-family: 'roboto_medium';
}
.total-sum {
  text-align: right;
  padding: 30px 0;
  font-size: 18px;
  padding-right: 10px;
}
.total-sum .sum {
  font-family: 'RobotoRegular';
  font-size: 48px;
  padding: 0 5px;
}
.total-sum .val {
  font-size: 24px;
}
.price-block {
  float: right;
  width: 300px;
  padding-top: 70px;
}
.order-cart {
  background: #f0f0f0;
  padding: 35px 50px;
  margin-bottom: 30px;
}
.order-cart .price {
  font-family: 'RobotoRegular';
  font-size: 48px;
  margin-bottom: 25px;
  text-align: center;
}
.order-cart .price span {
  font-size: 24px;
}
.order-cart .red-link {
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  line-height: 54px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-family: 'roboto_black';
  background: #ff4c36;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 3px 0px 0px #d73f2d;
  box-shadow: 0px 3px 0px 0px #d73f2d;
  -webkit-transition: background 0.15s ease-in-out;
  -moz-transition: background 0.15s ease-in-out;
  -o-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.order-cart .red-link:hover {
  background: #ff1f03;
}
.order-cart .blue-link {
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  line-height: 54px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-family: 'roboto_black';
  background: #355d7f;
  -webkit-box-shadow: 0px 3px 0px 0px #1d3346;
  box-shadow: 0px 3px 0px 0px #1d3346;
  margin-bottom: 20px;
  -webkit-transition: background 0.15s ease-in-out;
  -moz-transition: background 0.15s ease-in-out;
  -o-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.order-cart .blue-link:hover {
  background: #26435b;
}
.order-cart .del-order {
  font-size: 14px;
  color: #868686;
}
.order-cart .del-order img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.cons-link {
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  line-height: 54px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-family: 'roboto_black';
  background: #ff4c36;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 3px 0px 0px #d73f2d;
  box-shadow: 0px 3px 0px 0px #d73f2d;
  -webkit-transition: background 0.15s ease-in-out;
  -moz-transition: background 0.15s ease-in-out;
  -o-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.cons-link:hover {
  background: #ff1f03;
}
.mobile-cart-table table {
  width: 100%;
}
.mobile-cart-table table tr:first-child td {
  padding-top: 0;
}
.mobile-cart-table table td {
  vertical-align: top;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}
.mobile-cart-table .cart-amount {
  margin-top: 10px;
}
.mobile-cart-table .top-block {
  margin-bottom: 30px;
}
.mobile-cart-table .left-block {
  float: left;
  width: 50%;
}
.mobile-cart-table .right-block {
  float: left;
  width: 50%;
}
.mobile-cart-table .title-cart {
  font-size: 12px;
  color: #868686;
  margin-bottom: 5px;
}
.mobile-cart-table .name,
.mobile-cart-table .price {
  font-size: 14px;
  font-family: 'roboto_black';
}
.mobile-cart-sum {
  text-align: right;
  padding: 10px 0;
}
.mobile-cart-sum .total {
  font-size: 24px;
  font-family: 'RobotoRegular';
}
.mobile-cart-sum .total span {
  font-size: 18px;
  font-family: 'roboto_medium';
}
.mobile-menu,
.mobile-search {
  display: none;
}
.mobile-menu-block {
  background: #f0f0f0;
  padding-bottom: 5px;
  padding-top: 15px;
}
.mobile-menu-block li {
  padding: 10px 20px;
  border-bottom: 1px solid #e6e6e6;
}
.mobile-menu-block li:first-child {
  padding-top: 0;
}
.mobile-menu-block li:last-child {
  border-bottom: 0;
}
.mobile-menu-block li a {
  font-size: 14px;
  color: #404040;
}
.mobile-menu-block li a:hover {
  color: #ff4c36;
}
.mobile-search-block {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  background: #f0f0f0;
}
.mobile-search-block form {
  position: relative;
  padding-bottom: 20px;
}
.mobile-search-block input[type="text"] {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline: 0;
  border: 2px solid #e6e6e6;
  font-size: 14px;
  font-family: 'roboto_light';
}
.mobile-search-block .s-sub {
  position: absolute;
  z-index: 2;
  display: block;
  outline: 0;
  border: 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
  right: 18px;
  top: 12px;
  background: url(../images/search-btn.png) no-repeat;
}
.mobile-search-block .s-sub:hover {
  background: url(../images/search.png) no-repeat;
}
.menu-toggle {
  width: 16px;
  height: 16px;
  display: block;
  background: url(../images/menu-btn.png) no-repeat;
}
.menu-toggle.active,
.menu-toggle:hover {
  background: url(../images/menu-btn-active.png) no-repeat;
}
.search-toggle {
  width: 16px;
  height: 16px;
  display: block;
  background: url(../images/search-btn.png) no-repeat;
}
.search-toggle.active,
.search-toggle:hover {
  background: url(../images/search.png) no-repeat;
}
.card-slide .carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.card-slide .carousel .carousel-inner .active {
  opacity: 1;
}
.card-slide .carousel .carousel-inner .active.left,
.card-slide .carousel .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.card-slide .carousel .carousel-inner .next.left,
.card-slide .carousel .carousel-inner .prev.right {
  opacity: 1;
}
.card-slide .carousel .carousel-control {
  z-index: 2;
}
.card-slide div.carousel-indicators {
  float: left;
  width: 100px;
  padding-right: 10px;
}
.card-slide div.carousel-indicators > div {
  margin-bottom: 45px;
  cursor: pointer;
}
.card-slide div.carousel-indicators img {
  max-width: 100%;
  height: auto;
}
.card-slide .carousel-inner {
  float: right;
  width: 290px;
}
.card-slide .carousel-inner > .item {
  padding: 0;
  height: 290px;
  text-align: center;
}
.card-slide .carousel-inner img {
  max-width: 100%;
  height: auto;
}
